.vscode/**
.vscode-test/**
.gitignore
expressionengine.jpg
vsc-extension-quickstart.md
/syntaxes/ee.cson
/syntaxes/ee.json
/syntaxes/ee.tmLanguage.EXTENSION
/syntaxes/html.tmLanguage
/syntaxes/html.tmLanguage.json.VSCODE